<html lang="en">
<head>
    <title>Container live logs</title>

    <style>
        body{
            background-color: rgb(249 250 251);
            font-family: FreeSans, sans-serif;
        }
        #logs {
            border-width: 1px;
            border-radius: .375rem;
            border-style: solid;
            border-color: #dddd;
            background-color: white;
            height: calc(100vh - 150px);
            overflow-y: auto;
            padding: 1rem;
            box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        }
        #logs p {
            overflow-x: auto;
        }

        .container {
            margin-top:1rem;
            width:100%;
            margin-right:auto;
            margin-left:auto;
            padding-right:1rem;
            padding-left:1rem
        }
        @media (min-width:640px) {
            .container {
                max-width:640px;
                padding-right:2rem;
                padding-left:2rem
            }
        }
        @media (min-width:768px) {
            .container {
                max-width:768px
            }
        }
        @media (min-width:1024px) {
            .container {
                max-width:1024px;
                padding-right:6rem;
                padding-left:6rem
            }
        }
        @media (min-width:1280px) {
            .container {
                max-width:1280px;
                padding-right:8rem;
                padding-left:8rem
            }
        }
        @media (min-width:1536px) {
            .container {
                max-width:1536px;
                padding-right:10rem;
                padding-left:10rem
            }
        }
    </style>
</head>

<body>
<div class="container">
    <h2 class="title">Container live logs:</h2>
    <div id="settings">
        <label>
            Autoscroll:
            <input onchange="toggleFollow()" type="checkbox" id="follow" checked>
        </label>
    </div>
    <div id="logs"></div>
</div>

</body>

<script>
    let following = true;
    const logs = document.getElementById('logs');
    const wsProto = window.location.protocol === "https:" ? `wss://` : `ws://`;
    let socket = new WebSocket(wsProto + window.location.host+ '/ws');
    socket.onmessage = function (event) {
        logs.innerHTML += '<p style="white-space: nowrap">' + event.data + '</p>';
        if (following) {
            logs.scrollTop = logs.scrollHeight;
        }
    };

    function toggleFollow() {
        following = document.getElementById('follow').checked;
    }
</script>

</html>
